<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Home page</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div style="display: flex;">
        <div style="display: flex; flex-direction: column;">
            <p style="font-size: 10rem; width: 45%; font-family: 'Calistoga', cursive;, sans-serif;" class="mt-5">BusBoard</p>
            <p style="font-size: 2.5rem; padding-left: 2%;">A London bus timetable service</p>
            <div class="col-md-12">
                <form class="form" id="messageForm" th:action="@{/busInfo}" method="get">
                    <div class="form-group form-group-lg">
                        <fieldset>
                            <input type="text" name="postcode" class="form-control mb-2 form-control-lg" style="width: 40%;" placeholder="Postcode"/>
                            <button type="submit" class="btn btn-danger btn-lg">Search Buses</button>
                        </fieldset>
                    </div>
                </form>
                <div class="alert alert-danger" style="width: 30%;" role="alert" th:if="${error}">Postcode invalid</div>
            </div>
        </div>
        <img src="../../images/london-travel.jpg" style="position: absolute; bottom: 0; right: 0; height: 80%; z-index: -1;"/>
    </div>
</div>
</body>
</html>