<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content" style="max-width: 100%; padding: 0">
            <nav aria-label="breadcrumb" id="breadcrumb">
                <ol class="breadcrumb bg-dark" style="border-radius: 0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Bus Information</li>
                </ol>
            </nav>

            <div class="mr-5 ml-5">
                <h2>Bus Information</h2>
                <div>
                    <p>You entered postcode <span th:text="${busInfo.postcode}"></span></p>
                </div>
                <div id="busDetails" th:each="stop : ${busInfo.stops}">
                    <span><img src="https://image.flaticon.com/icons/svg/1042/1042263.svg" width="50px"/><h4 class="mb-2" th:text="${stop}" style="display: inline-block"></h4></span>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 5rem;">Bus Number</th>
                                <th scope="col" style="width: 40%;">Destination</th>
                                <th scope="col" style="width: 40%;">Expected At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="arrival : ${busInfo.getArrivals(busInfo.getStopWithName(stop))}">
                                <th style="width: 5rem;" scope="row" th:text="${arrival.lineId}"></th>
                                <td style="width: 40%;" th:text="${arrival.destinationName}"></td>
                                <td style="width: 40%;" th:text="${arrival.expectedArrival.substring(11,16)}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    function updateBuses() {
        console.log("Refreshing buses...");
        location.reload();
    }

    setTimeout(updateBuses, 30000);
</script>
