<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Bus Information</h2>
            <div>
                <p>You entered postcode <span th:text="${busInfo.postcode}"></span></p>
            </div>
            <div th:each="stop : ${busInfo.stops}">
                <h4 class="mb-2" th:text="${stop}"></h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Bus Number</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Expected At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="arrival : ${busInfo.getArrivals(busInfo.getStopWithName(stop))}">
                            <th scope="row" th:text="${arrival.lineId}"></th>
                            <td th:text="${arrival.destinationName}"></td>
                            <td th:text="${arrival.expectedArrival.substring(11,16)}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
